[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
youtube-dl = "*"
psycopg2 = "*"
django = "*"
mem = "*"

[dev-packages]

[requires]
python_version = "3.7"
