<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<style type="text/css">
	
	#ytBlock{
		z-index: 100;
		top:0;
		position: fixed;
		background-color: black;
		height: 320px;

	}
	#ytv{
		width: 560px;
		margin:auto;
	}
	#meun{
		background-color: #f1f1f1;
		z-index: 1000;
	}
	#main{
		left: 320px;
		height: 1500px;
	}
	#tab{
		position: relative;
		margin-top: 320px;
		
	}
	img.center{
		 display: block;
    	margin: 0 auto;
	}
</style>
<!-- <div class="pure-g">
	<div class="pure-u-1-6" id="meun">
		<p>sibebar menu</p>
	</div>
	<div class="pure-u-5-6" >
		<p>main</p>
	</div>
</div>
 -->
<body>
	<div class="pure-g">
		
	    <div class="pure-u-1 pure-u-md-1-1" id="ytBlock">
			<div id="ytv">
				    <iframe width="560" height="315" src="https://www.youtube.com/embed/lnWib0CGBT0" frameborder="0" allowfullscreen></iframe>
			</div>
	    </div>
	    <div class="pure-u-1 pure-u-md-1-1" id="main">
			<div id="tab">
				<img class="center" src="http://www.guitarnick.com/images/filthy-rich-acoustic-fingerpicking-guitar-tab.png">
			</div>
		
			<ul>
			{% for item in itemList %}
			    <li>{{ item }}</li>
			{% endfor %}
			</ul>
	    </div>
	</div>
</body>

