<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

	<title>Tab</title>
	<!-- CSS resoruce -->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- javascript resource-->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	 <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>

	<style type="text/css">
		
	#logo{
		height: 120px;
		background-color: #777;
	}

	#searchBar{
		height: 120px;
		background-color: #cce2ff;
	}
	#userTool{
		background-color: #FBFBFB;
	}
	#tab{
		height: 450px;
		margin:30px 0px;

	}
	#ytb{
		height: 220px;
		
	}
	#toolPanel{
		background-color: #cce2ff;
	}
	.bigText{
		font-size: 40px;
		font-weight: 100;
		text-align: center;
	}
	#tab{
		
		overflow: auto;
		background-color: #f1f1f1;
	}

	</style>
</head>
<body class="">
	<div id="header" class="pure-g" >
		<div id="logo" class="pure-u-1-5 bigText"><p>SoloLa!</p></div>
		<div id="searchBar" class="pure-u-3-5 bigText">
			
		</div>
		<div id="userTool" class="pure-u-1-5">
			<div class="pure-g">
				<div class="pure-u-3-5">
	
				</div>
				
				<div class="pure-u-2-5">
					<button class="pure-button">
					<i class="fa fa-sign-in"></i>
					</button>
					<button class="pure-button">
					<i class="fa fa-bars"></i>
					</button>
				</div>
			</div>	
			
		</div>
		
	</div>

	
	
	<div id="content" class="pure-g bigText">
		<div class="pure-u-1" id="tab">
			<svg id="tabSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    		</svg>
		</div>
		
		
		<iframe class="pure-u-1-4" id="ytb" src="https://www.youtube.com/embed/G_rINXF-bzg" frameborder="0" allowfullscreen></iframe>
		
		<div class="pure-u-3-4" id="toolPanel">
			<button class="pure-button" id="playStop">Play</button>
		</div>
		
	</div>
<!-- 	{% load static from staticfiles %}
	{% static "tabproject/404.jpg" as 404pic %}
	<img src="{{ 404pic }}"> -->
	<div id="footer">
		<p>All Reserved to Yuan-Ping Chen,Yu-Kang Hu and Music and Audio Computing Lab, CITI, Academia Sinica, Taiwan, 2016 </p> 
	</div>

	{% load static from staticfiles %}
	{% static "tabproject/js/test.js" as testjs %}
	<script type="text/javascript" src="{{testjs}}"></script>
</body>
</html>

