<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

	<title>SolaLa!</title>

	<!-- CSS resoruce -->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">

	{% load static from staticfiles %}
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static "tabproject/css/index.css" %}">
	<!-- <link rel="stylesheet" href="{% static "tabproject/css/jquery-ui/jquery-ui.structure.min.css" %}"> -->
	<!-- <link rel="stylesheet" href="{% static "tabproject/css/jquery-ui/jquery-ui.theme.min.css" %}"> -->
	<!-- Google API-->
	<script type="text/javascript" src="{% static "tabproject/js/views/searchBar.js" %}" ></script>
	<script src="https://apis.google.com/js/client.js?onload=handleAPILoaded" ></script>
	<script type="text/javascript" data-main="static/tabproject/js/main" src="{% static "tabproject/lib/requirejs/require.js"%}"></script>
</head>
<body>
	<div class="topContainer pure-g">
		<div class="pure-u-4-5 ">
		</div>
		<div class="pure-u-1-5 ">
			<div class="pure-g">
				<div class="pure-u-5-5">
					<button class="pure-button">About</button>
					<a class="pure-button" href="https://github.com/srviest/SoloLa-">Github</a>
					<button class="pure-button">Login</button>
				</div>
			</div>
		</div>
	</div>
<!-- End Top Container  -->
	<div class="header" class="pure-g" >
		<div class="logoBlock pure-u-1-4 ">
			<!-- <img class="beta" src="{% static "tabproject/media/betaLabelLeft.png" %}"> -->
			<!-- <div class="title"><span class="titleEn">Solo</span>La!</div> -->
			<!-- <div class="version">alpha version</div> -->
			<img id="logo" src="{% static "tabproject/media/SoloLa_logo.png"%}">
		</div>
		<div id="searchBar" class="pure-u-3-4 pure-g">
		</div>
	</div>
<!-- End Header -->
	<div id="content" class="pure-g ">
		<div class="pure-u-1" id="tab">
			<svg id="tabSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<!-- viewbox="0,0,1024,100" preserveAspectRatio="xMinYMin meet" -->
    		</svg>
		</div>
    </div>
    <div>
        <div class="dashboard pure-g" id="controlarea">
			<div class="pure-u-1-4" id="ytb">
				<div class="block-box">
					<iframe src="https://www.youtube.com/embed/ovgzbSaswzY" frameborder="0" class="ytbIframe" id="ytbox"></iframe>
				</div>
			</div>
			<div class="pure-u-3-4" id="">
				<div class="pure-g">
					<div class="block-box" class="pure-u-3-5">
						<!-- Search Bar Start-->
						<div class="play-control">
							<a href="#" id="playButton" class="hvr-pulse-grow">
								<i class="fa fa-play-circle-o fa-3x" aria-hidden="true">
								</i>
							</a>

	                		<div id="prog-sliderHtml5-block">
	                			<input id="prog-sliderHtml5" type="range" name="prog" min="0" max="100" step="1" value="0"></input>
	                		</div>

		                </div>
		                <div id="searchBar box">
	                		<div class="box">
			                    <form action="#" class="pure-form " id="searchForm2">
			                            <input type="text" id="keyword" placeholder="Search Song" autocomplete="off" class="keywordtext" width="48">
			                            <!-- <input > -->
			                             <button class="pure-button margin-box" type="submit" value="enter" id="searchbtn2"> <i class="fa fa-search" aria-hidden="true"></i></button>
			                    </form>
		                    </div>
		                    <div class="box">
			                    <form action="#" class="pure-form " id="searchForm">
			                            <input type="text" id="searchurl" placeholder="Youtube URL" autocomplete="off"  class="form-control" >
			                            <button class="pure-button margin-box" type="submit" value="submit" id="searchbtn">
			                            	<i class="fa fa-youtube-play" aria-hidden="true"></i>
			                            </button>

			                    </form>
		                    </div>
					    </div>
					    <!-- Search Bar End-->
				    </div>
				    <div class="block-box" class="pure-u-2-5">

				    </div>
				</div>


		    </div>
        </div>
        <div id="videoresult">
            <button type="button">X</button>
            searching result:
            <div id="videoresult_btn"></div>
        </div>
    </div>
<!-- End Content -->
	<!-- <script type="text/template" id="music-note">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> <%= BookName %> </a></li>
   </script> -->
<!-- 	{% load static from staticfiles %}
	{% static "tabproject/404.jpg" as 404pic %}
	<img src="{{ 404pic }}"> -->
	<div class="footer">
		<p class="">All Reserved to Yuan-Ping Chen,Yu-Kang Hu,Jyun-Yang KE and Music and Audio Computing Lab, CITI, Academia Sinica, Taiwan, 2016, Email: solola.service@gmail.com </p>
	</div>
<!-- End Footer -->


<!-- javascript resource-->

</body>
</html>

